[submodule "randivity-API"]
	path = randivity-API
	url = git@github.com:Randivity/randivity-API.git
	branch = main
[submodule "randivity-mobile"]
	path = randivity-mobile
	url = git@github.com:Randivity/randivity-mobile.git
	branch = main
[submodule "randivity-discord"]
	path = randivity-discord
	url = git@github.com:Randivity/randivity-discord.git
	branch = main
[submodule "randivity-web"]
	path = randivity-web
	url = git@github.com:Randivity/randivity-web.git
	branch = main
