[submodule "randivity-API"]
	path = randivity-API
	url = git@github.com:Exiels/randivity-API.git
[submodule "randivity-mobile"]
	path = randivity-mobile
	url = git@github.com:Exiels/randivity-mobile.git
